* {
    border: 0%;
    margin: 0%;
}
.menu ul li a {
    color: black;
    text-decoration: none;
}

.menu li {
    list-style-type: none;
    text-align: center;
    display: inline;
}

.menu ul li a {
    color: black;
    text-decoration: none;
}

.menu {
    display: grid;
    padding: 20px;
}

.menu .left li a {
    padding: 10px;
    margin-top: 1px;
    float: left;    
}

.menu .right li {
    margin-right: 10px;
    padding: 10px;
    margin-top: -38px;
    float: right;
}
.banner img{
    width: 100%;
}
.absolute{
    position: absolute;
    top: 200px;
    left: 70px;
    color: aliceblue;
}
.text{
    margin-left: 40px; 
    padding: 30px;
}
.row1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
   
.row1 img{
    margin-left:50px;
    padding: 4%;
    width: 95%;
}
.row2 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: rgb(240, 240, 240);
    padding: 5px;
}
.row2 a{
    text-decoration: none;
}
.row2 div{
    padding: 65px;
}



